<div class="row">
<div class="col-md-8">
    <table class="table table-dark">
        <thead>
            <th>Id</th>
            <th>Img</th>
            <th>Name</th>
            <th>Type</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of pokemonList">
                <td>{{p.pokeId}}</td>
                <td><img [src]="'./assets/pokemon_image/'+p.imgUrl" width="100" height="100"></td>
                <td>{{p.name}}</td>
                <td>{{p.type}}</td>
                <button class="btn btn-primary" (click)="setPokemonInfo(p)">PokeStats</button>
            </tr>
        </tbody>
    </table>
</div>
<br>
<div *ngIf="errorMessage">
    <h1 class="text-danger">{{errorMessage}}</h1>
</div>
</div>